Project Requirements

Sprint 1-
	Functional app with GUI downloadable to Android.
	App will read (dummy) values for-
	Temperature, Pressure, Humidity, Gas Levels

Sprint 2-

Sprint 3-


Extra Goals:
	
	
	